<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Great Success!!!</title>
</head>
<body>
  <h1>Success</h1>
  <p>You are authenticated.</p>
  <script>
    document.body.onload = function() {
      var injectedUser = <%- JSON.stringify(user) %>;
      window.opener.postMessage({
        payload: injectedUser,
        status: 'success',
      }, window.opener.location)
    }
  </script>
</body>
</html>